.Smiley
{
    text-align: center;
    color: white;
}
.ElGato
{
    margin: auto;
    width: 25%;
    border: 50px solid #1d1d1d;
    background-color: #1d1d1d;
}
body
{
    background-color: #2b2b2b;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/ball-scream.PNG");
    background-repeat: repeat;
}
video
{
    display: block;
    margin: 0 auto;
}
iframe
{
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
}

